<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Proves</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Llista de Proves</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Nom de la Prova</th>
         <th>Descripcio</th>
         <th>Tipus</th>
         <th>Data</th>
         <th>Nadadors</th>
         
       </tr>
     </thead>
     <tbody>
       <tr th:each="prova: ${proves}">
         <td th:text="${prova.nom}"></td>
         <td th:text="${prova.descripcio}"></td>
         <td th:text="${prova.tipus}"></td>
         <td th:text="${prova.data}"></td>
         <td>
         	<a class="btn btn-warning" th:href="@{/classificacio/perpais/{nom}(nom=${prova.nom})}" role="button">Per país</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a class="btn btn-success" href="add" role="button">Afegeix prova</a>
</body>
</html>
