<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseElderly}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content" th:object="${requestPage}">
   	<h2 th:if="${requestPage == 0}">Contracte de menjar a domicili</h2>
   	<h2 th:if="${requestPage == 1}">Contracte de serveis sanitaris</h2>
   	<h2 th:if="${requestPage == 2}">Contracte de serveis de neteja</h2>
		<table class="showinfo" th:object="${contract}">
			<tr>
				<th><label>Data d'inici del contracte:</label></th>
	        	<td><p th:text="*{dateBeginning}"></p></td>
	        </tr>			
			<tr>
				<th><label>Data final del contracte:</label></th>
				<td><p th:text="*{dateEnding}" ></p></td>
	        </tr>
	        <tr>
				<th><label>Hora inicial del servei:</label></th>
	        	<td><p th:text="*{beginningHour}"></p></td>
	        </tr>
	        <tr>
				<th><label>Hora final del servei:</label></th>
	        	<td><p th:text="*{endingHour}"></p></td>
	        </tr>
			<tr>
				<th><label>Descripció:</label></th>
				<td><p th:text="*{description}"></p></td>
	        </tr>			
			<tr>
				<th><label>Quantitat de serveis contractats:</label></th>
	        	<td><p th:text="*{quantityServices}"></p></td>
	        </tr>			
			<tr>
				<th><label>Preu per servei:</label></th>
	        	<td><span th:text="*{priceUnit}"></span><span> </span><span th:text=*{unitsOfMeasure}></span></td>
	        </tr>
	        <tr>
				<th><label>Empresa prestadora del servei:</label></th>
	        	<td><a th:href="@{/elderly/contracts/company/{company_cif}(company_cif=*{company_cif})}" th:text="*{company_cif}"></a></td>
	        </tr>
	</table>
	<a th:if="${requestPage == 0}" class="btn btn-outline-info" href="/elderly/requests/foodrequests" role="button">Torna enrere</a>
	<a th:if="${requestPage == 1}" class="btn btn-outline-info" href="/elderly/requests/healthrequests" role="button">Torna enrere</a>
	<a th:if="${requestPage == 2}" class="btn btn-outline-info" href="/elderly/requests/cleaningrequests" role="button">Torna enrere</a>
</div>
</body>
</html>