<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseloginregister}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2>Registre</h2>
	<br><br>
	<h3>Elegeix el tipus de perfil que s'adequa a les teves necessitats:</h3><br>
	<div class="form-group row justify-content-center">
   		<div class="col-sm-4">
     		<a class="btn btn-info" href="/register/volunteer" role="button">Registrar-se com a voluntari</a>
   		</div>
   		<div class="col-sm-4">
     		<a class="btn btn-info" href="/register/elderly" role="button">Registrar-se com a persona major</a>
   		</div>
    </div>
</div>
</body>
</html>