<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseCasVolunteer}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">

	<h2>Voluntaris</h2>

  	<table class="table table-striped">
     <thead>
       <tr>
         <th>Nom:</th>
         <th>Hobbies:</th>
         <th>Data naiximent:</th>
         <th></th>
         <th></th>
         <th></th>
       </tr>  
     </thead>
     <tbody>
       <tr th:each="volunteer: ${volunteers}">
         <td th:text="${volunteer.name}"></td>
         <td th:text="${volunteer.hobbies}"></td>
         <td th:text="${volunteer.birthDate}"></td>
         <td><a th:href="@{/casVolunteer/showVolunteer/{usr}(usr=${volunteer.usr})}" th:text="${volunteer.usr}"></a></td>
         <td><a class="btn btn-success" th:href="@{/casVolunteer/altaVolunteer/{usr} (usr=${volunteer.usr})}" role="button">Dóna de alta</a></td>
         <td><a class="btn btn-danger" th:href="@{/casVolunteer/bajaVolunteer/{usr} (usr=${volunteer.usr})}" role="button">Dóna de baixa</a></td>
      </tr>
     </tbody>
   </table> 
</div>
</body>
</html>