<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">Pàgina principal</a></li>
			<li class="nav-item" ><a class="nav-link" href="/nadador/list" th:href="@{/nadador/list}">Gestió de nadadors</a></li>
            <li class="nav-item" ><a class="nav-link" href="/user/list" th:href="@{/user/list}">Àrea privada</a></li>	
		</ul>
	</div>
</nav>
