<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseCasManager}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">

	<h2>Dades del usuari</h2>
	<h3>Pas 2 de 3</h3>
	
	<form action="#" th:action="@{/casManager/altaPersonaContacto}" th:object="${company}" method="post">
		<table>
			<tr>
				<td><label>Usuari:</label></td>
	        	<td><input type="text" class="form-control" th:field="*{contactPersonEmail}" required/></td>
	        </tr>
			<tr>
				<td><label>Contrasenya:</label></td>
				<td><input type="password" class="form-control" th:field="*{pwd}" required/></td>
			</tr>
	        <tr>
	            <td colspan="2"><input class="btn btn-success" type="submit" value="Següent" role="button"/>
	            				<a class="btn btn-outline-info" href="/casManager/atrasPersonaContacto" role="button">Torna enrere</a>
	            </td>
	        </tr>
        </table>
    </form>  
</div>
</body>
</html>