<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseCasManager}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">

	<h2>Dades del contracte</h2>
	
	<form action="#" th:action="@{/casManager/altaNuevoContrato}" th:object="${contract}" method="post">
		<table>
			<tr>
				<td><label>Data inici:</label></td>
	        	<td><input type="date" th:field="*{dateBeginning}" required/></td>
	        </tr>
	        <tr>
				<td><label>Data fi:</label></td>
	        	<td><input type="date" th:field="*{dateEnding}"/></td>
	        </tr>
	        <tr>
				<td><label>Descripció:</label></td>
	        	<td><input type="text" class="form-control" th:field="*{description}" required/></td>
	        </tr>
	        <tr>
				<td><label>Quantitat servei:</label></td>
	        	<td><input type="text" th:field="*{quantityServices}" required/></td>
	        </tr>
	        <tr>
				<td><label>Unitat de mesura:</label></td>
				<td><select class="form-control input-lg" th:field="*{unitsOfMeasure}" required>
						<option value="€/visita">€/visita</option>
						<option value="€/hora">€/hora</option>
						<option value="€/menú">€/menú</option>
				</select></td>
	        </tr>
	        <tr>
				<td><label>Preu unitat:</label></td>
	        	<td><input type="text" th:field="*{priceUnit}" required/></td>
	        </tr>
	        <tr>
	            <td colspan="2"><input class="btn btn-success" type="submit" value="Afegir" role="button"/>
	            				<a class="btn btn-outline-info" href="/casManager/listarEmpresas" role="button">Torna enrere</a>
	            </td>
	        </tr>
        </table>
    </form>  
</div>
</body>
</html>