<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseCasCommitee}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2>Contractes disponibles</h2>
	
	  <table class="table table-striped">
		  <thead>
		       <tr>
		         <th>Número:</th>
		         <th>Data inici:</th>
		         <th>Empresa:</th>
		         <th></th>
		      </tr> 
		 </thead>
		 <tbody>
		       <tr th:each="contract: ${contracts}">
				 <td th:text="${contract.number}"></td>
				 <td th:text="${contract.dateBeginning}"></td>
				 <td><a th:href="@{/casCommitee/showCompany/{number}/{cif} (cif=${contract.company_cif}, number=${contract.number})}" th:text="${contract.company_cif}"></a></td>  
				 <td><a class="btn btn-success" th:href="@{/casCommitee/}" role="button">Asignar</a></td>
			 </tr>
			 
         </tbody>
   	</table> 
   	<a class="btn btn-outline-info" href="/casCommitee/gestionarSolicitudes" role="button">Torna enrere</a>
</div>
</body>
</html>