<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Classificacions</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" 
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
   <h1>Llista de Classificacions</h1>
   <table class="table table-striped">
       <thead>
       <tr>
           <th>Nom Nadador</th>
           <th>Nom Prova</th>
           <th>Posició</th>
           <th>Temps</th>
           <th></th>
           <th></th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="classificacio: ${classificacions}"> 
           <td th:text="${classificacio.nomNadador}"></td>
           <td th:text="${classificacio.nomProva}"></td>
           <td th:text="${classificacio.posicio}"></td>
           <td th:text="${{classificacio.temps}}"></td>
           <td><a th:href="@{/classificacio/update/{nom}/{nomProva}(nom=${classificacio.nomNadador}, nomProva=${classificacio.nomProva})}" class="btn btn-warning" role="button">Edita</a></td>
           <td><a th:href="@{/classificacio/delete/{nom}/{nomProva}(nom=${classificacio.nomNadador},nomProva=${classificacio.nomProva})}" class="btn btn-danger" role="button">Esborra</a></td>
       </tr>
       </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Afegeix classificació</a>
</div>
</body>
</html>
