<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Classificacions per país</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h1>Nadadors per Prova</h1>
    <h2 th:text="${pais}"></h2>
    <div th:each="prova: ${classificacions.keySet()}">
      <h4 th:text="${prova}"></h4>
      <ul>
          <li th:each="nadador: ${classificacions.get(prova)}">
            <span th:text="${nadador.nom}"></span>
          </li>
      </ul>
    </div>
</body>
</html>