<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseloginregister}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">
	<h2>Registre</h2><br><br>
	<h3>Aquesta és la página que permet a una persona major registrar-se com a beneficiari</h3><br>
	<p>Com el nostre grup està format per 3 persones, el projecte base no inclou la implementació d'aquesta funcionalitat</p>
	<p>Per tant es mostra aquesta pàgina com a simulació</p>
	<a class="btn btn-outline-info" href="/register" role="button">Torna a la pàgina anterior</a>
</div>
</body>
</html>