<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseElderly}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">
   <h2>Llistar nous servicis</h2>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Descripció:</th>
         <th>Tipus servici:</th>
         <th>Preu unitat:</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="contract: ${contracts}">
         <td th:text="${contract.description}"></td>
         <td th:if="${contract.serviceType == 0}">Servici de menjar</td>
         <td th:if="${contract.serviceType == 1}">Servici sanitaris</td>
         <td th:if="${contract.serviceType == 2}">Servici de neteja</td>
         <td th:if="${contract.serviceType == 3}">Servici de companyia</td> 
         <td th:text="${contract.priceUnit}"></td>      
         <td><a class="btn btn-success" th:href="@{/elderly/elderlyAddRequest/{number}(number=${contract.number})}" role="button">Afegir</a></td>   
       </tr>
       
       <tr th:each="availability: ${availabilities}">
       	<td></td>
       	<td>Servici de companyia</td>
       	<td>0.00</td>
       	<td><a class="btn btn-success" th:href="@{/elderly/elderlyUpdateAvailability}" role="button">Afegir</a></td>
       </tr>
     </tbody>
   </table>
</div>
</body>
</html>