<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseElderly}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content" th:object="${requestType}">
   <h2 th:if="${requestType == 0}">Serveis de menjar a domicili</h2>
   <h2 th:if="${requestType == 1}">Serveis sanitaris</h2>
   <h2 th:if="${requestType == 2}">Serveis de neteja</h2>
   <br>
  	<table class="table table-striped">
     <thead>
       <tr>
         <th>Data de sol·licitud:</th>
         <th>Estat:</th>
         <th>Data de resolució:</th>
         <th>Comentaris:</th>
         <th>Servei solicitat fins al:</th>
         <th></th>
         <th></th>
       </tr>  
     </thead>
     <tbody>
       <tr th:each="request: ${requests}">
         <td th:text="${request.creationDate}"></td>
         
         <td th:if="${request.state == 0}">Pendent d'acceptació</td>
         <td th:if="${request.state == 1}">Acceptada</td>
         <td th:if="${request.state == 2}">Rebutjada</td>
         
         <td th:if="${request.state == 0}">-</td>
         <td th:if="${request.state == 1}" th:text="${request.approvedDate}"></td>
         <td th:if="${request.state == 2}" th:text="${request.rejectedDate}"></td>
         
         <td th:if="${request.comments == null}">-</td>
         <td th:unless="${request.comments == null}" th:text="${request.comments}"></td>
         
         <td th:if="${request.endDate == null}">-</td>
         <td th:unless="${request.endDate == null}" th:text="${request.endDate}"></td>
         
         <td th:if="${request.contract_number == 0}">No s'ha generat cap contracte</td>
         <td th:unless="${request.contract_number == 0}"><a class="btn btn-info" th:href="@{/elderly/contracts/{contract_number}(contract_number=${request.contract_number})}" role="button">Contracte</a></td>
         
         <td th:unless="${request.state == 2}"><a class="btn btn-danger" th:href="@{/elderly/requests/delete/{number}(number=${request.number})}" role="button">Dóna de baixa</a>
         <td th:if="${request.state == 2}"><a class="btn btn-danger" th:href="@{/elderly/requests/delete/{number}(number=${request.number})}" role="button">Suprimeix de la llista</a>
      </tr>
     </tbody>
   </table> 
   <a class="btn btn-outline-info" href="/elderly/requests" role="button">Torna enrere</a>
</div>
</body>
</html>