<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseElderly}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content">
   <h2>Les meues sol·licituds</h2>
   <h3>Quin tipus de sol·licituds vols consultar?</h3>
   <a class="btn btn-info" href="/elderly/requests/foodrequests" role="button">Sol·licituds de menjar a domicili</a><br>
   <br><a class="btn btn-info" href="/elderly/requests/volunteerrequests" role="button">Sol·licituds de companyia</a><br>
   <br><a class="btn btn-info" href="/elderly/requests/healthrequests" role="button">Sol·licituds sanitàries</a><br>
   <br><a class="btn btn-info" href="/elderly/requests/cleaningrequests" role="button">Sol·licituds de neteja</a><br>
 </div>
</body>
</html>