<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/baseElderly}">
<head>
	<meta charset="UTF-8"/>
	<title>Majors a casa</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   	<link rel="stylesheet" type="text/css" href="/css/majorsacasa.css" th:href="@{/css/majorsacasa.css}"/>
</head>
<body>
<div layout:fragment="content" th:object="${requestPage}">
   	<h2 th:if="${requestPage == 0}">Condicions aplicades a la sol·licitud</h2>
	<table class="showinfo">
		<tbody th:object="${request}">
			<tr>
				<th><label>Comentaris:</label></th>
	        	<td><p th:text="*{comments}"></p></td>
	        </tr>			
	        <tr>
				<th><label>Hora inicial del servei:</label></th>
				<td th:if="${request.beginningHour == null}"><p>No s'ha determinat</p></td>
	        	<td th:unless="${request.beginningHour == null}"><p th:text="*{beginningHour}"></p></td>
	        </tr>
	        <tr>
				<th><label>Hora final del servei:</label></th>
				<td th:if="${request.endingHour == null}"><p>No s'ha determinat</p></td>
	        	<td th:unless="${request.endingHour == null}"><p th:text="*{endingHour}"></p></td>
	        </tr>
	        <tr>
				<th><label>Treballador social d'ajuda:</label></th>
				<td th:if="${request.userCAS == null}"><p>No adjudicat</p></td>
	        	<td th:unless="${request.userCAS == null}">
	        		<a th:object="${userCAS}" th:href="@{/elderly/requests/terms/socialWorker/{userCAS}(userCAS=*{userCAS})}" th:text="*{name}"></a></td>
	        </tr>
	    </tbody>
	    <tbody th:object="${contract}">
			<tr th:unless="${contract == null}">
				<th><label>Preu per servei:</label></th>
	        	<td><span th:text="*{priceUnit}"></span><span> </span><span th:text=*{unitsOfMeasure}></span></td>
	        </tr>
	        <tr th:unless="${contract == null}">
				<th><label>Empresa prestadora del servei:</label></th>
	        	<td th:object="${company}"><a th:href="@{/elderly/requests/terms/company/{company_cif}(company_cif=*{CIF})}" th:text="*{name}"></a></td>
	        </tr>
	    </tbody>
	</table>
	<a th:if="${requestPage == 0}" class="btn btn-outline-info btn-lg" href="/elderly/requests/foodrequests" role="button">Torna enrere</a>
	<a th:if="${requestPage == 1}" class="btn btn-outline-info btn-lg" href="/elderly/requests/healthrequests" role="button">Torna enrere</a>
	<a th:if="${requestPage == 2}" class="btn btn-outline-info btn-lg" href="/elderly/requests/cleaningrequests" role="button">Torna enrere</a>
</div>
</body>
</html>