<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Edit an elderly</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
	<h2>Edit elderly</h2>
	<form action="#" th:action="@{/elderly/update}" th:object="${elderly}" method="post">
		<table>
			<tr>
				<td><label>Name:</label></td>
	        	<td><input type="text" th:field="*{name}" required/></td>
	        </tr>
	        <tr>
				<td><label>Surname:</label></td>
	        	<td><input type="text" th:field="*{surname}" required/></td>
	        </tr>
	        <tr>
				<td><label>DNI:</label></td>
	        	<td><input type="text" th:field="*{DNI}" required/></td>
	        </tr>
	        <tr>
				<td><label>Birth Date:</label></td>
	        	<td><input type="date" th:field="*{birthDate}" required/></td>
	        </tr>
	        <tr>
				<td><label>Address:</label></td>
	        	<td><input type="text" th:field="*{address}" required/></td>
	        </tr>
	        <tr>
				<td><label>Phone Number:</label></td>
	        	<td><input type="text" th:field="*{phoneNumber}" required/></td>
	        </tr>
	        <tr>
				<td><label>Bank Account:</label></td>
	        	<td><input type="text" th:field="*{bankAccountNumber}" required/></td>
	        </tr>
	        <tr>
				<td><label>Email:</label></td>
	        	<td><input type="text" th:field="*{email}" required/></td>
	        </tr>
	        <tr>
				<td><label>Password:</label></td>
	        	<td><input type="password" th:field="*{userPwd}" required/></td>
	        </tr>
	        <tr>
				<td><label>Alergies:</label></td>
	        	<td><input type="text" th:field="*{alergies}" /></td>
	        </tr>
	        <tr>
				<td><label>Diseases:</label></td>
	        	<td><input type="text" th:field="*{diseases}" /></td>
	        </tr>
	        <tr>
	            <td colspan="2"><input class="btn btn-success" type="submit" value="Save changes" role="button"/></td>
	        </tr>
        </table>
    </form>  
</body>
</html>
